<script lang="ts" setup>
import { TeamForm as TeamFormInterface } from '~~/types'

const teams = useTeams()
const route = useRoute()
const router = useRouter()

const teamId = route.params.id

if (teamId instanceof Array) {
  throw new TypeError('Invalid team id')
}

const team = teams.value.find((team) => team.id === parseInt(teamId))

if (!team) {
  router.push('/teams')
}

const form = reactive<TeamFormInterface>({
  name: team.name,
  pokemon: team.pokemon || [],
})

const handleSubmit = (teamForm: TeamFormInterface) => {
  teams.value = teams.value.map((team) => {
    if (team.id !== parseInt(teamId)) {
      return team
    }

    return { ...team, ...teamForm }
  })

  alert('Team updated')

  router.push('/teams')
}
</script>

<template>
  <section class="container mt-6">
    <h1 class="text-3xl mb-4 text-center">Edit Team</h1>

    <TeamForm :team="form" :edit="true" @submit="handleSubmit" />
  </section>
</template>
