<script lang="ts" setup>
const teams = useTeams()
</script>

<template>
  <section class="container mt-6">
    <h1 class="text-3xl text-center mb-4">Pokemon Teams</h1>

    <div v-if="teams.length < 1">
      <p class="text-center">There are no teams yet.</p>
      <div class="mt-6 text-center">
        <NuxtLink to="/teams/new">
          <AppButton>Create a new team</AppButton>
        </NuxtLink>
      </div>
    </div>

    <div v-if="teams.length > 0" class="text-center">
      <NuxtLink to="/teams/new">
        <AppButton>Add more team</AppButton>
      </NuxtLink>
    </div>

    <div
      v-if="teams.length > 0"
      class="mt-4 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6"
    >
      <TeamCard v-for="team in teams" :key="team.name" :team="team" />
    </div>
  </section>
</template>
