<script lang="ts" setup>
import { TeamForm as TeamFormInterface } from '~~/types'

const teams = useTeams()

const form = reactive<TeamFormInterface>({
  name: '',
  pokemon: [],
})

const handleSubmit = (team: TeamFormInterface) => {
  teams.value.push({
    id: teams.value.length + 1,
    name: team.name,
    pokemon: team.pokemon,
  })

  alert('Team created')
}
</script>

<template>
  <section class="container mt-6">
    <h1 class="text-3xl mb-4 text-center">Add New Team</h1>

    <TeamForm :team="form" @submit="handleSubmit" />
  </section>
</template>
