<script lang="ts" setup>
import { ComputedRef } from 'vue'
import { useFavourites, useTeams } from '~~/composables/states'

interface NavMenu {
  label: string
  url: string
  count?: ComputedRef<number>
}

defineEmits(['close'])

const favourites = useFavourites()
const teams = useTeams()

const navMenus = reactive<NavMenu[]>([
  {
    label: 'Teams',
    url: '/teams',
    count: computed(() => teams.value.length),
  },
  {
    label: 'My Favorite Pokemon',
    url: '/favourites',
    count: computed(() => favourites.value.length),
  },
])
</script>

<template>
  <nav class="border-t border-gray-100 py-4">
    <ul>
      <li v-for="(menu, index) in navMenus" :key="index">
        <NuxtLink
          :to="menu.url"
          class="block p-2 mx-2 border border-transparent hover:border-blue-300 rounded-md"
          @click="$emit('close')"
        >
          <span>{{ menu.label }}</span>
          <span
            class="ml-1 px-1 rounded-full bg-blue-300 text-white leading-none"
          >
            {{ menu.count }}
          </span>
        </NuxtLink>
      </li>
    </ul>
  </nav>
</template>
