<script lang="ts" setup>
import { Pokemon } from '~~/types'
import { useFavourites } from '~~/composables/states'

const props = defineProps({
  pokemon: {
    type: Object as () => Pokemon,
    required: true,
  },
})

const favourites = useFavourites()

const isFavourite = computed<boolean>(() => {
  return favourites.value.some(
    (favourite) => favourite.name === props.pokemon.name
  )
})

const addFavourite = () => {
  favourites.value.push(props.pokemon)
}

const removeFavourite = () => {
  favourites.value = favourites.value.filter(
    (favourite) => favourite.name !== props.pokemon.name
  )
}

const toggleFavourite = () => {
  if (isFavourite.value) {
    removeFavourite()
  } else {
    addFavourite()
  }
}
</script>

<template>
  <AppButton type="button" @click="toggleFavourite">
    <span v-if="isFavourite">Unfavourite</span>
    <span v-if="!isFavourite">Favourite</span>
  </AppButton>
</template>
