<script lang="ts" setup>
const emit = defineEmits(['update:modelValue'])

const props = defineProps({
  modelValue: {
    type: String,
    default: '',
  },
})

const handleInput = (e: any) => {
  const { value } = e.target
  emit('update:modelValue', value)
}
</script>

<template>
  <input
    :value="props.modelValue"
    type="text"
    class="rounded-lg border-gray-200 caret-blue-300 focus:border-blue-300 focus:outline-none focus:shadow-outline-blue focus:ring-0"
    @input="handleInput"
  />
</template>
