<script lang="ts" setup>
import _ from 'lodash'
import { PropType } from 'vue'
import { PokemonDetail } from '~~/types'

const teams = useTeams()

const search = ref<string>('')
const fetching = ref(false)
const pokemon = ref<PokemonDetail>({
  id: 0,
  name: '',
  types: [],
  sprites: {
    front_default: '',
  },
})

const resetInput = () => {
  search.value = ''
  fetching.value = false
  pokemon.value = {
    id: 0,
    name: '',
    types: [],
    sprites: {
      front_default: '',
    },
  }
}

const emit = defineEmits(['update:modelValue'])

const props = defineProps({
  modelValue: {
    type: Array as PropType<PokemonDetail[]>,
    required: true,
  },
})

const searchPokemon = _.debounce(async () => {
  const value = search.value.trim().toLowerCase()
  if (!value) {
    resetInput()
    return
  }

  fetching.value = true

  const result = await $fetch<PokemonDetail>(
    `https://pokeapi.co/api/v2/pokemon/${value}`
  )

  const existsInTeams = teams.value.some((team) =>
    team.pokemon.some((pokemon) => pokemon.name === result.name)
  )

  const existsInModel = props.modelValue.some(
    (pokemon) => pokemon.name === result.name
  )

  if (result && !existsInTeams && !existsInModel) {
    pokemon.value = result
  }

  fetching.value = false
}, 300)

const handleAdd = () => {
  emit('update:modelValue', [...props.modelValue, pokemon.value])
  resetInput()
}
</script>

<template>
  <div class="relative">
    <InputText
      v-if="props.modelValue.length < 6"
      v-model="search"
      class="w-full"
      placeholder="Type pokemon name or id"
      @keydown.enter.prevent
      @input="searchPokemon"
    />
    <div
      v-if="fetching || pokemon.name"
      class="absolute mt-2 px-3 py-2 border rounded-lg bg-white w-full"
    >
      <div v-if="!pokemon.name && fetching">Loading...</div>
      <div v-if="pokemon.name" class="flex items-center justify-between">
        <div class="flex items-center">
          <img
            :src="pokemon.sprites.front_default"
            :alt="pokemon.name"
            class="w-16 h-1w-16"
          />
          <p class="capitalize">#{{ pokemon.id }} {{ pokemon.name }}</p>
        </div>
        <AppButton type="button" @click="handleAdd">Add</AppButton>
      </div>
    </div>
  </div>
</template>
