<script lang="ts" setup>
import { PropType } from 'vue'
import { Pokemon } from '~~/types'
import { useUrl } from '~~/composables/useUrls'

const { spriteUrl } = useUrl()

const props = defineProps({
  pokemon: {
    type: Object as PropType<Pokemon>,
    required: true,
  },
})
</script>

<template>
  <div class="shadow rounded-lg">
    <img
      loading="lazy"
      :src="spriteUrl(props.pokemon.id)"
      :alt="props.pokemon.name"
      class="mx-auto"
    />
    <div class="p-4 text-center">
      <p class="text-gray-700 text-sm font-semibold">#{{ props.pokemon.id }}</p>
      <p class="text-gray-700 text-sm font-semibold capitalize">
        {{ props.pokemon.name }}
      </p>
      <ButtonAddToFavourite class="mt-2" :pokemon="props.pokemon" />
    </div>
  </div>
</template>
