<script lang="ts" setup>
interface Pokemon {
  id: number
  name: string
}

const search = ref<string>('')
const hasResult = ref<boolean>(false)
const pokemon = ref<Pokemon>({
  id: 0,
  name: '',
})

const searchPokemon = () => {
  if (search.value.trim().length > 0) {
    hasResult.value = false
    $fetch<Pokemon>(`https://pokeapi.co/api/v2/pokemon/${search.value}`)
      .then((res) => {
        hasResult.value = true
        pokemon.value = res
      })
      .catch(() => {
        hasResult.value = false
        pokemon.value = {
          id: 0,
          name: '',
        }
      })
  }
}
</script>

<template>
  <div class="relative rounded-lg shadow bg-white p-4">
    <form @submit.prevent="searchPokemon">
      <label for="search">Search a Pokemon</label>
      <InputText
        id="search"
        v-model="search"
        type="text"
        name="search"
        placeholder="Pokemon name or id"
        class="block w-full mt-2"
      />
      <button
        type="submit"
        class="block w-full mt-2 px-4 py-2 rounded-md bg-blue-500 text-white"
      >
        Search
      </button>
    </form>
    <div v-if="hasResult" class="mt-6 bg-white rounded-lg">
      <div class="flex">
        <img
          :src="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${pokemon.id}.png`"
          class="rounded-lg object-cover h-16 w-h-16 border"
        />
        <div class="ml-2">
          <p>#{{ pokemon.id }}</p>
          <p class="capitalize">{{ pokemon.name }}</p>
        </div>
        <div class="ml-2 flex-1 flex justify-end items-center">
          <ButtonAddToFavourite :pokemon="pokemon" />
        </div>
      </div>
    </div>
  </div>
</template>
