<script lang="ts" setup>
import { PropType } from 'vue'
import { XIcon } from '@heroicons/vue/solid'
import { TeamForm } from '~~/types'

const emit = defineEmits(['submit'])
const props = defineProps({
  team: {
    type: Object as PropType<TeamForm>,
    required: true,
  },
  edit: {
    type: Boolean as PropType<boolean>,
    default: false,
  },
})

const form = reactive<TeamForm>(props.team)

const error = reactive({
  name: '',
  pokemon: '',
})

const resetForm = () => {
  form.name = ''
  form.pokemon = []
}

const removePokemon = (id: number) => {
  form.pokemon = form.pokemon.filter((pokemon) => pokemon.id !== id)
}

const handleSubmit = () => {
  if (form.name.trim() === '') {
    error.name = 'Team name is required'
    resetForm()
    return
  }

  emit('submit', form)
  resetForm()
}
</script>

<template>
  <form
    class="p-4 max-w-xl mx-auto rounded-lg shadow space-y-4"
    @submit.prevent="handleSubmit"
  >
    <div>
      <label for="name">Team Name</label>
      <InputText
        id="name"
        v-model="form.name"
        required
        class="mt-2 w-full"
        placeholder="The name of the team"
      />
      <p
        v-if="error.name"
        class="mt-1 text-xs text-red-600"
        v-text="error.name"
      />
    </div>

    <div>
      <label for="pokemon">Pokemon (max 6)</label>
      <InputPokemon v-model="form.pokemon" class="mt-2" />

      <ul class="mt-4 space-y-2">
        <li
          v-for="pokemon in form.pokemon"
          :key="pokemon.name"
          class="flex items-center justify-between"
        >
          <span class="capitalize">#{{ pokemon.id }} {{ pokemon.name }}</span>
          <button type="button" class="ml-2" @click="removePokemon(pokemon.id)">
            <XIcon class="w-5 h-5" />
          </button>
        </li>
      </ul>
    </div>

    <div>
      <AppButton type="submit">
        <span v-if="edit">Update</span>
        <span v-else>Create</span>
      </AppButton>
    </div>
  </form>
</template>
