<script lang="ts" setup>
import { PropType } from 'vue'
import { Team } from '~~/types'
import { useUrl } from '~~/composables/useUrls'

const { spriteUrl } = useUrl()

const props = defineProps({
  team: {
    type: Object as PropType<Team>,
    required: true,
  },
})
</script>

<template>
  <div class="rounded-md shadow p-4">
    <h2 class="text-2xl text-center">{{ props.team.name }}</h2>
    <ul class="mt-2 grid grid-cols-2 gap-2">
      <li v-for="pokemon in props.team.pokemon" :key="pokemon.id">
        <img :src="spriteUrl(pokemon.id)" :alt="pokemon.name" loading="lazy" />
        <span>#{{ pokemon.id }} {{ pokemon.name }}</span>
      </li>
    </ul>
    <NuxtLink
      class="inline-block mt-4 w-full"
      :to="`/teams/edit-${props.team.id}`"
    >
      <AppButton class="w-full">Edit</AppButton>
    </NuxtLink>
  </div>
</template>
