<script lang="ts" setup>
const favourites = useFavourites()
</script>

<template>
  <section class="container mt-6">
    <h1 class="text-3xl text-center mb-4">My Favourite Pokemon</h1>

    <div v-if="favourites.length < 1">
      <p class="text-center">You have no favourites yet.</p>
      <div class="mt-6 text-center">
        <NuxtLink
          class="inline-block mt-2 px-4 py-3 rounded-md bg-blue-500 text-white text-center"
          to="/pokemon"
        >
          See 1,000 Random Pokemon
        </NuxtLink>
      </div>
    </div>

    <div v-else class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4">
      <div v-for="pokemon in favourites" :key="pokemon.id">
        <PokemonCard :pokemon="pokemon" />
      </div>
    </div>
  </section>
</template>
