<template>
  <section class="container mt-10">
    <Searchbar class="max-w-xl mx-auto" />

    <div class="mt-6 text-center">
      <NuxtLink
        class="inline-block mt-2 px-4 py-3 rounded-md bg-blue-500 text-white text-center"
        to="/pokemon"
      >
        See 1,000 Random Pokemon
      </NuxtLink>
    </div>
  </section>
</template>
