<script lang="ts" setup>
import { PokemonDetail } from '~~/types'

const route = useRoute()

const { data } = useFetch<string, PokemonDetail>(
  `https://pokeapi.co/api/v2/pokemon/${route.params.id}`
)
</script>

<template>
  <section class="container mt-6">
    <div class="p-10 shadow rounded-lg text-center max-w-md mx-auto">
      <img :src="data.sprites.front_default" class="w-full" />
      <p class="text-3xl">#{{ data.id }}</p>
      <h1 class="text-3xl capitalize">{{ data.name }}</h1>
      <p class="mt-2 text-3xl text-gray-400">
        {{ data.types[0].type.name }}
      </p>

      <ButtonAddToFavourite :pokemon="data" class="mt-8" />
    </div>
  </section>
</template>
