<script lang="ts" setup>
import { useUrl } from '~~/composables/useUrls'
import { useShuffle } from '~~/composables/useShuffle'

const { spriteUrl, allPokemonUrl } = useUrl()
const { shuffleArray } = useShuffle()

const offset = Math.floor(Math.random() * 118) + 1

const { data, pending } = await useFetch(allPokemonUrl({ offset }), {
  transform: ({ results }) => shuffleArray(results),
})

const getIdFromUrl = (url: string) => {
  const stringId = url.split('/').filter(Boolean).pop()

  return parseInt(stringId, 10)
}
</script>

<template>
  <section class="relative container mt-6 min-h-full">
    <h1 class="text-3xl text-center">Random Pokemon</h1>

    <div v-if="pending" class="absolute grid place-content-center inset-0">
      <span class="text-2xl animate-pulse">Loading ...</span>
    </div>

    <div v-if="!pending" class="mt-4 grid grid-cols-2 gap-4">
      <div v-for="pokemon in data" :key="pokemon.url" class="shadow rounded-lg">
        <img
          loading="lazy"
          :src="spriteUrl(getIdFromUrl(pokemon.url))"
          :alt="pokemon.name"
          class="mx-auto"
        />
        <div class="p-4 text-center">
          <p class="text-gray-700 text-sm font-semibold">
            #{{ getIdFromUrl(pokemon.url) }}
          </p>
          <p class="text-gray-700 text-sm font-semibold">{{ pokemon.name }}</p>
          <ButtonAddToFavourite
            class="mt-2"
            :pokemon="{ ...pokemon, id: getIdFromUrl(pokemon.url) }"
          >
            Favourite
          </ButtonAddToFavourite>
        </div>
      </div>
    </div>
  </section>
</template>
